scripts/config.sh
www/.htaccess.sample
www/.modgit/
www/.modman/
!www/PATCH_SUPEE-5344_CE_1.8.0.0_v1-2015-02-10-08-10-38.sh
!www/PATCH_SUPEE-5994_CE_1.6.0.0_v1-2015-05-15-04-34-46.sh
!www/PATCH_SUPEE-6237_EE_1.14.2.0_v1-2015-06-18-05-24-23.sh
!www/PATCH_SUPEE-6285_CE_1.9.1.1_v2-2015-07-08-08-07-43.sh
!www/PATCH_SUPEE-6482_CE_1.9.2.0_v1-2015-08-03-06-51-10.sh
!www/PATCH_SUPEE-6788_CE_1.9.1.0_v1-2015-10-27-09-06-11.sh
!www/PATCH_SUPEE-7405_CE_1.9.1.1_v1-2016-01-20-04-42-03.sh
!www/PATCH_SUPEE-7405_CE_1.9.2.2_v1-2016-01-20-04-35-33.sh
!www/PATCH_SUPEE-7405_CE_1.9.2.2_v1.1-2016-02-23-07-44-38.sh
!www/PATCH_SUPEE-7616_CE_1.9.2.2-CE_1.8.0.0_v1-2016-01-20-03-08-56.sh
!www/PATCH_SUPEE-8788_CE_1.9.1.0_v1-2016-10-11-06-57-54.sh
!www/PATCH_SUPEE-8788_CE_1.9.2.2_v1-2016-10-11-07-01-37.sh
!www/PATCH_SUPEE-8788_CE_1.9.2.4_v1-2016-10-11-07-03-46.sh
!www/scheduler_cron.sh
!www/app/
www/app/*
!www/app/code/
www/app/code/*
!www/app/code/community/
www/app/code/community/*
!www/app/code/community/AddThis/
www/app/code/community/AddThis/*
!www/app/code/community/AddThis/PluginsGeneral/
!www/app/code/community/AddThis/SharingTool/
!www/app/code/community/AddThis/SmartLayers/
!www/app/code/community/Aoe/
www/app/code/community/Aoe/*
!www/app/code/community/Aoe/Scheduler/
!www/app/code/community/AudereCommerce/
www/app/code/community/AudereCommerce/*
!www/app/code/community/AudereCommerce/ProCategory/
!www/app/code/community/Clarion/
www/app/code/community/Clarion/*
!www/app/code/community/Clarion/Customerattribute/
!www/app/code/community/Customscripts/
www/app/code/community/Customscripts/*
!www/app/code/community/Customscripts/Mygate/
!www/app/code/community/GoMedia/
!www/app/code/community/IWD/
www/app/code/community/IWD/*
!www/app/code/community/IWD/All/
!www/app/code/community/IWD/Opc/
!www/app/code/community/PayFast/
www/app/code/community/PayFast/*
!www/app/code/community/PayFast/PayFast/
!www/app/code/local/
www/app/code/local/*
!www/app/code/local/Aschroder/
www/app/code/local/Aschroder/*
!www/app/code/local/Aschroder/SMTPPro/
!www/app/code/local/Magegiant/
www/app/code/local/Magegiant/*
!www/app/code/local/Magegiant/Dailydeal/
!www/app/code/local/Magegiant/Magegiantcore/
!www/app/code/local/Smartwave/
!www/app/code/local/Smartwave/Ajaxcart/
!www/app/code/local/Smartwave/Ajaxcatalog/
!www/app/code/local/Smartwave/All/
!www/app/code/local/Smartwave/Blog/
!www/app/code/local/Smartwave/CatalogCategorySearch/
!www/app/code/local/Smartwave/Filterproducts/
!www/app/code/local/Smartwave/Fullajax/
!www/app/code/local/Smartwave/Homeslider/
!www/app/code/local/Smartwave/Megamenu/
!www/app/code/local/Smartwave/Porto/
!www/app/code/local/Smartwave/QuickView/
!www/app/code/local/Smartwave/Socialfeeds/
www/app/code/core/
!www/app/design/
www/app/design/*
!www/app/design/adminhtml/
www/app/design/adminhtml/*
!www/app/design/adminhtml/base/
www/app/design/adminhtml/base/*
!www/app/design/adminhtml/base/default/
www/app/design/adminhtml/base/default/*
!www/app/design/adminhtml/base/default/template/
www/app/design/adminhtml/base/default/template/*
!www/app/design/adminhtml/base/default/template/smtppro/
!www/app/design/adminhtml/default/
www/app/design/adminhtml/default/*
!www/app/design/adminhtml/default/default/
www/app/design/adminhtml/default/default/*
!www/app/design/adminhtml/default/default/layout/
www/app/design/adminhtml/default/default/layout/*
!www/app/design/adminhtml/default/default/layout/aoe_scheduler
!www/app/design/adminhtml/default/default/layout/auderecommerce/
!www/app/design/adminhtml/default/default/layout/magegiant/
!www/app/design/adminhtml/default/default/layout/clarion_customerattribute.xml
!www/app/design/adminhtml/default/default/layout/iwdall.xml
!www/app/design/adminhtml/default/default/layout/iwd_opc.xml
!www/app/design/adminhtml/default/default/layout/smartwave_blog.xml
!www/app/design/adminhtml/default/default/layout/smartwave_porto.xml
!www/app/design/adminhtml/default/default/template/
www/app/design/adminhtml/default/default/template/*
!www/app/design/adminhtml/default/default/template/aoe_scheduler/
!www/app/design/adminhtml/default/default/template/auderecommerce/
!www/app/design/adminhtml/default/default/template/clarion_customerattribute/
!www/app/design/adminhtml/default/default/template/iwd/
!www/app/design/adminhtml/default/default/template/magegiant/
!www/app/design/adminhtml/default/default/template/smartwave/
!www/app/design/frontend/
www/app/design/frontend/*
!www/app/design/frontend/base/
www/app/design/frontend/base/*
!www/app/design/frontend/base/default/
www/app/design/frontend/base/default/*
!www/app/design/frontend/base/default/layout/
www/app/design/frontend/base/default/layout/*
!www/app/design/frontend/base/default/layout/magegiant/
!www/app/design/frontend/base/default/layout/clarion_customerattribute.xml
!www/app/design/frontend/base/default/layout/iwd_all.xml
!www/app/design/frontend/base/default/layout/iwd_opc.xml
!www/app/design/frontend/base/default/layout/sharingtool.xml
!www/app/design/frontend/base/default/layout/smartlayers.xml
!www/app/design/frontend/base/default/template/
www/app/design/frontend/base/default/template/*
!www/app/design/frontend/base/default/template/addthis/
!www/app/design/frontend/base/default/template/clarion/
!www/app/design/frontend/base/default/template/iwd/
!www/app/design/frontend/base/default/template/magegiant/
!www/app/design/frontend/base/default/template/opc/
!www/app/design/frontend/base/default/template/porto/
www/app/design/frontend/base/default/template/porto/*
!www/app/design/frontend/base/default/template/porto/css/
www/app/design/frontend/base/default/template/porto/css/*
!www/app/design/frontend/base/default/template/porto/css/settings.phtml
!www/app/design/frontend/base/default/template/porto/css/design.phtml
www/app/design/frontend/rwd/
!www/app/design/frontend/default/
www/app/design/frontend/default/*
www/app/design/frontend/default/blank/
!www/app/design/frontend/default/default/
www/app/design/frontend/default/default/*
!www/app/design/frontend/default/default/template/
www/app/design/frontend/default/default/template/*
!www/app/design/frontend/default/default/template/mygate/
!www/app/design/frontend/default/default/template/payfast/
www/app/design/frontend/default/iphone/
www/app/design/frontend/default/modern/
www/app/design/frontend/enterprise/default
!www/app/design/frontend/smartwave/
www/app/design/install/
!www/app/etc/
www/app/etc/*
!www/app/etc/modules/
www/app/etc/modules/*
www/app/etc/modules/Enterprise_*
www/app/etc/modules/Mage_*.xml
www/app/etc/modules/Phoenix_Moneybookers.xml
www/app/etc/modules/Cm_RedisSession.xml
www/app/etc/applied.patches.list
www/app/etc/config.xml
www/app/etc/enterprise.xml
www/app/etc/local.xml.additional
www/app/etc/local.xml.template
!www/app/etc/local.xml
!www/app/etc/modules/AddThis_Sharingtool.xml
!www/app/etc/modules/Aoe_Scheduler.xml
!www/app/etc/modules/Aschroder_SMTPPro.xml
!www/app/etc/modules/AudereCommerce_ProCategory.xml
!www/app/etc/modules/Clarion_Customerattribute.xml
!www/app/etc/modules/Customscripts_Mygate.xml
!www/app/etc/modules/GoMedia_ParcelNinjaWebhook.xml
!www/app/etc/modules/GoMedia_RemoveLink.xml
!www/app/etc/modules/GoMedia_Rest.xml
!www/app/etc/modules/GoMedia_Webhook.xml
!www/app/etc/modules/IWD_All.xml
!www/app/etc/modules/IWD_Opc.xml
!www/app/etc/modules/Magegiant_Dailydeal.xml
!www/app/etc/modules/PayFast_PayFast.xml
!www/app/etc/modules/Smartwave_Ajaxcart.xml
!www/app/etc/modules/Smartwave_Ajaxcatalog.xml
!www/app/etc/modules/Smartwave_All.xml
!www/app/etc/modules/Smartwave_CatalogCategorySearch.xml
!www/app/etc/modules/Smartwave_Filterproducts.xml
!www/app/etc/modules/Smartwave_Fullajax.xml
!www/app/etc/modules/Smartwave_Homeslider.xml
!www/app/etc/modules/Smartwave_Megamenu.xml
!www/app/etc/modules/Smartwave_Porto.xml
!www/app/etc/modules/Smartwave_QuickView.xml
!www/app/etc/modules/Smartwave_Socialfeeds.xml
!www/app/etc/modules/Smartwave_Socialicons.xml
www/app/.htaccess
www/app/bootstrap.php
!www/app/locale/
www/app/locale/*
!www/app/locale/en_US/
www/app/locale/en_US/*
!www/app/locale/en_US/template/
www/app/locale/en_US/template/*
!www/app/locale/en_US/template/email/
www/app/locale/en_US/template/email/*
!www/app/locale/en_US/template/email/aoe_scheduler
!www/app/locale/en_US/template/email/smartwave_blog
!www/app/locale/en_US/Aschroder_SMTPPro.csv
!www/app/locale/en_US/IWD_All.csv
!www/app/locale/en_US/IWD_Opc.csv
!www/app/locale/en_US/Magegiant_Dailydeal.csv
!www/app/locale/en_US/Smartwave_Blog.csv
!www/app/locale/cs_CZ/
www/app/locale/cs_CZ/*
!www/app/locale/cs_CZ/template/
www/app/locale/cs_CZ/template/*
!www/app/locale/cs_CZ/template/email/
www/app/locale/cs_CZ/template/email/*
!www/app/locale/cs_CZ/template/email/smartwave_blog/
!www/app/locale/cs_CZ/Smartwave_Blog.csv
!www/app/locale/de_DE/
www/app/locale/de_DE/*
!www/app/locale/de_DE/template/
www/app/locale/de_DE/template/*
!www/app/locale/de_DE/template/email/
www/app/locale/de_DE/template/email/*
!www/app/locale/de_DE/template/email/smartwave_blog/
!www/app/locale/de_DE/IWD_Opc.csv
!www/app/locale/de_DE/Smartwave_Blog.csv
!www/app/locale/en_GB/
www/app/locale/en_GB/*
!www/app/locale/en_GB/template/
www/app/locale/en_GB/template/*
!www/app/locale/en_GB/template/email/
www/app/locale/en_GB/template/email/*
!www/app/locale/en_GB/template/email/smartwave_blog/
!www/app/locale/en_GB/Smartwave_Blog.csv
!www/app/locale/es_ES/
www/app/locale/es_ES/*
!www/app/locale/es_ES/Aschroder_SMTPPro.csv
!www/app/locale/fr_FR/
www/app/locale/fr_FR/*
!www/app/locale/fr_FR/template/
www/app/locale/fr_FR/template/*
!www/app/locale/fr_FR/template/email/
www/app/locale/fr_FR/template/email/*
!www/app/locale/fr_FR/template/email/smartwave_blog/
!www/app/locale/fr_FR/Smartwave_Blog.csv
!www/app/locale/nl_NL/
www/app/locale/nl_NL/*
!www/app/locale/nl_NL/template/
www/app/locale/nl_NL/template/*
!www/app/locale/nl_NL/template/email/
www/app/locale/nl_NL/template/email/*
!www/app/locale/nl_NL/template/email/smartwave_blog/
!www/app/locale/nl_NL/Aschroder_SMTPPro.csv
!www/app/locale/nl_NL/IWD_Opc.csv
!www/app/locale/nl_NL/Smartwave_Blog.csv
!www/app/locale/pt_BR/
www/app/locale/pt_BR/*
!www/app/locale/pt_BR/Aschroder_SMTPPro.csv
!www/app/locale/pt_BR/IWD_Opc.csv
!www/app/locale/ru_RU/
www/app/locale/ru_RU/*
!www/app/locale/ru_RU/template/
www/app/locale/ru_RU/template/*
!www/app/locale/ru_RU/template/email/
www/app/locale/ru_RU/template/email/*
!www/app/locale/ru_RU/template/email/smartwave_blog/
!www/app/locale/ru_RU/IWD_Opc.csv
!www/app/locale/ru_RU/Smartwave_Blog.csv
!www/app/locale/tr_TR/
www/app/locale/tr_TR/*
!www/app/locale/tr_TR/Aschroder_SMTPPro.csv
www/app/Mage.php
www/cron.php
www/cron.sh
www/dev/.htaccess
www/dev/tests/functional/
www/downloader/
www/errors/
www/favicon.ico
www/get.php
www/includes/
www/index.php
www/index.php.sample
www/install.php
www/js/blank.html
www/js/calendar/
www/js/enterprise/
www/js/extjs/
www/js/firebug/
www/js/flash/
www/js/index.php
www/js/jscolor/
www/js/lib/
www/js/mage/
www/js/prototype/
www/js/scriptaculous/
www/js/spacer.gif
www/js/tiny_mce/
www/js/varien/
www/lib/3Dsecure/
www/lib/Apache/
www/lib/flex/
www/lib/googlecheckout/
www/lib/.htaccess
www/lib/LinLibertineFont/
www/lib/Mage/
www/lib/PEAR/
www/lib/Pelago/
www/lib/phpseclib/
www/lib/Varien/
www/lib/Zend/
www/lib/Cm/
www/lib/Credis/
www/lib/Magento/
www/LICENSE_AFL.txt
www/LICENSE.html
www/LICENSE.txt
www/LICENSE_EE*
www/mage
www/media/*
!www/media/dailydeal/
!www/media/porto/
!www/media/smartwave/
!www/media/wysiwyg/
www/media/wysiwyg/*
!www/media/wysiwyg/porto/
!www/media/wysiwyg/smartwave/
www/api.php
www/nbproject/
www/pear
www/pear/
www/php.ini.sample
www/pkginfo/
www/RELEASE_NOTES.txt
!www/shell/
www/shell/*
www/shell/.htaccess
www/shell/abstract.php
www/shell/compiler.php
www/shell/indexer.php
www/shell/log.php
!www/shell/scheduler.php
www/sitemap.xml
www/sitemap/*
!www/sitemap/.keep
www/skin/adminhtml/default/default/*
!www/skin/adminhtml/default/default/aoe_scheduler/
!www/skin/adminhtml/default/default/iwd/
www/skin/adminhtml/default/enterprise
www/skin/frontend/base/*
!www/skin/frontend/base/default/
www/skin/frontend/base/default/*
!www/skin/frontend/base/default/css/
www/skin/frontend/base/default/css/*
!www/skin/frontend/base/default/css/iwd/
!www/skin/frontend/base/default/css/magegiant/
!www/skin/frontend/base/default/images/
www/skin/frontend/base/default/images/*
!www/skin/frontend/base/default/images/clarion/
!www/skin/frontend/base/default/images/magegiant/
!www/skin/frontend/base/default/js/
www/skin/frontend/base/default/js/*
!www/skin/frontend/base/default/js/iwd/
www/skin/frontend/rwd/
www/skin/frontend/default/blank/
www/skin/frontend/default/blue/
www/skin/frontend/default/default/
www/skin/frontend/default/french/
www/skin/frontend/default/german/
www/skin/frontend/default/iphone/
www/skin/frontend/default/modern/
www/skin/frontend/smartwave/*
!www/skin/frontend/smartwave/default/
!www/skin/frontend/smartwave/gomedia/
!www/skin/frontend/smartwave/porto/
www/skin/frontend/smartwave/porto/css/*
!www/skin/frontend/smartwave/porto/css/*.*
!www/skin/frontend/smartwave/porto/css/iwd/
!www/skin/frontend/smartwave/porto/css/magegiant/
!www/skin/frontend/smartwave/porto/css/configed/
www/skin/frontend/smartwave/porto/css/configed/*
!www/skin/frontend/smartwave/porto/css/configed/.keep
www/skin/frontend/enterprise
www/skin/install/
www/var/*
!www/var/connect/
www/var/connect/*
!www/var/connect/Aoe_Scheduler.xml
www/.htaccess
www/lib/Net/
www/lib/Unserialize/
.idea
