<?xml version="1.0"?>
<config>
    <modules>
        <Ayasoftware_SimpleBackendOrder>
            <version>1.2</version>
        </Ayasoftware_SimpleBackendOrder>
    </modules>
    <global>
        <models>
            <simplebackendorder>
                <class>Ayasoftware_SimpleBackendOrder_Model</class>
            </simplebackendorder>
            <sales>
                <rewrite>
                    <quote_item>Ayasoftware_SimpleBackendOrder_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <simplebackendorder>
                <class>Ayasoftware_SimpleBackendOrder_Helper</class>
            </simplebackendorder>
        </helpers>
        <blocks>
            <simplebackendorder>
                <class>Ayasoftware_SimpleBackendOrder_Block</class>
            </simplebackendorder>
            <adminhtml>
                <rewrite>
                    <catalog_product_composite_fieldset_configurable>Ayasoftware_SimpleBackendOrder_Block_Adminhtml_Catalog_Product_Composite_Fieldset_Configurable</catalog_product_composite_fieldset_configurable>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sppbackendorder>
                    <file>sppbackendorder.xml</file>
                </sppbackendorder>
            </updates>
        </layout>
    </adminhtml>
</config>
