<?xml version="1.0"?>
<config>
    <modules>
        <GoMedia_Newsletter>
            <version>1.0.0</version>
        </GoMedia_Newsletter>
    </modules>

    <global>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>GoMedia_Newsletter_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
    </global>
</config>