<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<oppcw>
			<information>
				<version>3.0.216</version>
			</information>
			<shop>
				<alias_management>0</alias_management>
				<await_notification>1</await_notification>
				<external_checkout_account_creation>force_selection</external_checkout_account_creation>
			</shop>
			<logging>
				<level>error</level>
			</logging>
			<general>
				<operation_mode><![CDATA[test]]></operation_mode>
				<test_mode><![CDATA[internal]]></test_mode>
				<user_id/>
				<user_password/>
				<transaction_id_schema><![CDATA[{id}]]></transaction_id_schema>
				<global_entity_id/>
				<custom_parameters/>
				<webhook_secret_key/>
			</general>
		</oppcw>
		<payment>
			<oppcw_generic>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Generic</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Generic]]></title>
				<description><![CDATA[Pay with Generic]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<payment_methods/>
				<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_generic><oppcw_americanexpress>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\AmericanExpress</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[American Express]]></title>
				<description><![CDATA[Pay with American Express]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_americanexpress><oppcw_boleto>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Boleto</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Boleto Bancário]]></title>
				<description><![CDATA[Pay with Boleto Bancário]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_boleto><oppcw_cartebleue>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\CarteBleue</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Carte Bleue]]></title>
				<description><![CDATA[Pay with Carte Bleue]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_cartebleue><oppcw_dankort>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Dankort</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Dankort]]></title>
				<description><![CDATA[Pay with Dankort]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_dankort><oppcw_creditcard>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\CreditCard</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Credit Card]]></title>
				<description><![CDATA[Pay with Credit Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<active_brands><![CDATA[AMEX,BCMC,CARTEBLEUE,DANKORT,DINERS,DISCOVER,JCB,MAESTRO,MASTER,VISA,VISAELECTRON,VPAY]]></active_brands>
				<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_creditcard><oppcw_diners>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Diners</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Diners Club]]></title>
				<description><![CDATA[Pay with Diners Club]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_diners><oppcw_directdebitssepa>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\DirectDebitsSepa</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Sepa Direct Debits]]></title>
				<description><![CDATA[Pay with Sepa Direct Debits]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<debtor_id/>
				<merchant_name/>
				<display_customer_id><![CDATA[no]]></display_customer_id>
				<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_directdebitssepa><oppcw_discovercard>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\DiscoverCard</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Discover Card]]></title>
				<description><![CDATA[Pay with Discover Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_discovercard><oppcw_eps>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Eps</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[EPS]]></title>
				<description><![CDATA[Pay with EPS]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_eps><oppcw_giropay>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Giropay</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[giropay]]></title>
				<description><![CDATA[Pay with giropay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_giropay><oppcw_ideal>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\IDeal</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[iDEAL]]></title>
				<description><![CDATA[Pay with iDEAL]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_ideal><oppcw_jcb>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Jcb</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[JCB]]></title>
				<description><![CDATA[Pay with JCB]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_jcb><oppcw_klarnainvoice>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\KlarnaInvoice</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Klarna Invoice]]></title>
				<description><![CDATA[Pay with Klarna Invoice]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<klarna_merchant_id/>
				<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_klarnainvoice><oppcw_maestro>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Maestro</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Maestro]]></title>
				<description><![CDATA[Pay with Maestro]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_maestro><oppcw_mastercard>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\MasterCard</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[MasterCard]]></title>
				<description><![CDATA[Pay with MasterCard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_mastercard><oppcw_openinvoice>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\OpenInvoice</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Open Invoice]]></title>
				<description><![CDATA[Pay with Open Invoice]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<processor><![CDATA[Payolution]]></processor>
				<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_openinvoice><oppcw_payolutionelv>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\PayolutionElv</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Payolution ELV]]></title>
				<description><![CDATA[Pay with Payolution ELV]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_payolutionelv><oppcw_payolutionins>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\PayolutionIns</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Payolution Installment]]></title>
				<description><![CDATA[Pay with Payolution Installment]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_payolutionins><oppcw_paypal>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\PayPal</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[PayPal]]></title>
				<description><![CDATA[Pay with PayPal]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_paypal><oppcw_paysafecard>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Paysafecard</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[paysafecard]]></title>
				<description><![CDATA[Pay with paysafecard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_paysafecard><oppcw_prepayment>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Prepayment</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Prepayment]]></title>
				<description><![CDATA[Pay with Prepayment]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_prepayment><oppcw_skrill>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Skrill</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Skrill (Moneybookers)]]></title>
				<description><![CDATA[Pay with Skrill (Moneybookers)]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_skrill><oppcw_sofortueberweisung>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Sofortueberweisung</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Sofortüberweisung]]></title>
				<description><![CDATA[Pay with Sofortüberweisung]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<country_restriction/>
				<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_sofortueberweisung><oppcw_visa>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Visa</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Visa]]></title>
				<description><![CDATA[Pay with Visa]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_visa><oppcw_vpay>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Vpay</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[V PAY]]></title>
				<description><![CDATA[Pay with V PAY]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_vpay><oppcw_paydirekt>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Paydirekt</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[paydirekt]]></title>
				<description><![CDATA[Pay with paydirekt]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_paydirekt><oppcw_bcmc>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Bcmc</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Bancontact]]></title>
				<description><![CDATA[Pay with Bancontact]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<widget_style><![CDATA[card]]></widget_style>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_bcmc><oppcw_poli>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Poli</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[POLi]]></title>
				<description><![CDATA[Pay with POLi]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_poli><oppcw_entercash>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Entercash</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[entercash]]></title>
				<description><![CDATA[Pay with entercash]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_entercash><oppcw_afterpaypaylater>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\AfterPayPayLater</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[AfterPay Pay Later]]></title>
				<description><![CDATA[Pay with AfterPay Pay Later]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_afterpaypaylater><oppcw_afterpaydirectdebit>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\AfterPayDirectDebit</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[AfterPay Direct Debit]]></title>
				<description><![CDATA[Pay with AfterPay Direct Debit]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_afterpaydirectdebit><oppcw_paytrail>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Paytrail</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Paytrail]]></title>
				<description><![CDATA[Pay with Paytrail]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_paytrail><oppcw_trustly>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Trustly</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Trustly]]></title>
				<description><![CDATA[Pay with Trustly]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_trustly><oppcw_trustpay>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\TrustPay</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[TrustPay]]></title>
				<description><![CDATA[Pay with TrustPay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_trustpay><oppcw_postfinancecard>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\PostFinanceCard</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[PostFinance Card]]></title>
				<description><![CDATA[Pay with PostFinance Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_postfinancecard><oppcw_onecard>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\OneCard</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[onecard]]></title>
				<description><![CDATA[Pay with onecard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_onecard><oppcw_przelewy24>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Przelewy24</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Przelewy24]]></title>
				<description><![CDATA[Pay with Przelewy24]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_przelewy24><oppcw_yandex>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Yandex</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Yandex]]></title>
				<description><![CDATA[Pay with Yandex]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_yandex><oppcw_tenpay>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Tenpay</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Tenpay]]></title>
				<description><![CDATA[Pay with Tenpay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_tenpay><oppcw_daopay>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Daopay</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[DAOPAY]]></title>
				<description><![CDATA[Pay with DAOPAY]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_daopay><oppcw_alipay>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Alipay</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Alipay]]></title>
				<description><![CDATA[Pay with Alipay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_alipay><oppcw_cashuprepaid>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\CashUPrepaid</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[CASHUPrepaid]]></title>
				<description><![CDATA[Pay with CASHUPrepaid]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_cashuprepaid><oppcw_debitmastercard>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\DebitMasterCard</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Debit MasterCard]]></title>
				<description><![CDATA[Pay with Debit MasterCard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_debitmastercard><oppcw_debitvisa>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\DebitVisa</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Debit Visa]]></title>
				<description><![CDATA[Pay with Debit Visa]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<channel_id_nothreed/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</oppcw_debitvisa><oppcw_chinaunionpay>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\ChinaUnionpay</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[China Unionpay]]></title>
				<description><![CDATA[Pay with China Unionpay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<capturing><![CDATA[direct]]></capturing>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_chinaunionpay><oppcw_interac>
				<active>0</active>
				<model>Customweb\OPPCw\Model\Payment\Method\Interac</model>
				<payment_action>initialize</payment_action>
				<group>oppcw</group>
				<title><![CDATA[Interac]]></title>
				<description><![CDATA[Pay with Interac]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<channel_id/>
				<channel_conditions/>
				<widget_style><![CDATA[card]]></widget_style>
				<authorizationMethod><![CDATA[WidgetAuthorization]]></authorizationMethod>
			</oppcw_interac>
		</payment>
	</default>
</config>