<?xml version="1.0"?>
<config>
    <modules>
        <Ayasoftware_PreSelector>
            <version>1.11.9</version>
        </Ayasoftware_PreSelector>
    </modules>
    <global>
        <models>
            <preselector>
                <class>Ayasoftware_PreSelector_Model</class>
            </preselector>
        </models>
        <resources>
            <preselector_setup>
                <setup>
                    <module>Ayasoftware_PreSelector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </preselector_setup>
            <preselector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </preselector_write>
            <preselector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </preselector_read>
        </resources>
        <blocks>
            <preselector>
                <class>Ayasoftware_PreSelector_Block</class>
            </preselector>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_grid>Ayasoftware_PreSelector_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        
        <helpers>
            <preselector>
                <class>Ayasoftware_PreSelector_Helper</class>
            </preselector>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <catalogproductsave>
                        <type>singleton</type>
                        <class>preselector/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </catalogproductsave>
                </observers> 
            </catalog_product_save_after>
        </events>
        <layout>
            <updates>
                <preselector>
                    <file>preselector.xml</file>
                </preselector>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pre_selector translate="title" module="preselector">
                                            <title>Pre Selector Section</title>
                                            <sort_order>50</sort_order>
                                        </pre_selector>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <preselector_frontend>
                    <file>preselector.xml</file>
                </preselector_frontend>
            </updates>
        </layout>
        <routers>
            <preselector_frontend>
                <use>standard</use>
                <args>
                    <module>Ayasoftware_PreSelector</module>
                    <frontName>preselector</frontName>
                </args>
            </preselector_frontend>
        </routers>
    </frontend>
</config>


