<?xml version="1.0"?>
<config>
    <modules>
        <GoMedia_ParcelNinjaWebhook>
            <version>0.1.0</version>
        </GoMedia_ParcelNinjaWebhook>
    </modules>
    <global>
        <models>
            <parcelninja_webhook>
                <class>GoMedia_ParcelNinjaWebhook_Model</class>
            </parcelninja_webhook>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <post_order_to_parcelninja>
                        <type>singleton</type>
                        <class>parcelninja_webhook/observer</class>
                        <method>postOrder</method>
                    </post_order_to_parcelninja>
                </observers>
            </sales_order_save_after>
        </events>
        <helpers>
            <parcelninja_webhook>
                <class>GoMedia_ParcelNinjaWebhook_Helper</class>
            </parcelninja_webhook>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <parcelninja_webhook>
                                            <title>ParcelNinja Settings</title>
                                        </parcelninja_webhook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <parcelninja_webhook>
            <order>
                <order_status>processing</order_status>
                <api_url>https://parcelninja.co.za/api/v1/</api_url>
            </order>
        </parcelninja_webhook>
    </default>
</config>